{% extends 'base.html.twig' %}
{% set menu = 'resources' %}
{% block title %}New Article{% endblock %}

{% block body %}
    <h1>Crear nuevo Artículo</h1>

    {{ include('article/_form.html.twig') }}

    <a href="{{ path('app_article_index') }}">volver a la lista</a>
{% endblock %}
